## Use Series attributes and methods to explore your fruits Series.

In [2]:
import pandas as pd
import numpy as np

In [10]:
list_fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits_series = pd.Series(list_fruits)

Determine the number of elements in fruits.

In [5]:
fruits_series.size

17

Output only the index from fruits.

In [66]:
list(fruits_series.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [9]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.

In [14]:
fruits_series.values.dtype

dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [7]:
print(fruits_series.head())
print(fruits_series.tail(3))
fruits_series.sample(2)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
14    blackberry
15    gooseberry
16        papaya
dtype: object

15    gooseberry
10          kiwi
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [8]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [13]:
np.unique(fruits_series)
fruits_series.unique()
fruits_series.value_counts().index

Index(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'blueberry',
       'blackberry', 'gooseberry', 'papaya'],
      dtype='object')

Determine how many times each unique string value occurs in fruits.

In [14]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [16]:
fruits_series.value_counts().head(1)

fruits_series.value_counts()

fruits_series.value_counts().idxmax(), fruits_series.value_counts().max()

fruits_series.value_counts().nlargest(n=1)

fruits_series.describe()['top']

'kiwi'

Determine the string value that occurs least frequently in fruits

In [61]:
mask = fruits_series.value_counts() == 1
fruits_series.value_counts()[mask]
# fruits_series.value_counts().min(), fruits_series.value_counts().idxmin()
fruits_series.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64